@inherits LayoutComponentBase

<PageTitle>TcpEmulator</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div>
                @connectedString @receivedString
            </div>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string connectedString = "";
    private string receivedString = "";
    private TcpEmulator.Connection.TcpConnector tcpConnector;

    public void Refresh()
    {
        InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        tcpConnector = new TcpEmulator.Connection.TcpConnector();
        tcpConnector.DataReceived += tcpConnector_DataReceived;
        tcpConnector.ConnectionConnected += tcpConnector_ConnectionConnected;
        tcpConnector.DoConnect();
    }

    private void tcpConnector_ConnectionConnected(object sender, EventArgs e)
    {
        if (tcpConnector != null)
        {
            if (sender != null)
            {
                connectedString = "접속 성공";
            }
        }

        Refresh();
    }

    private void tcpConnector_DataReceived(object sender, EventArgs e)
    {
        if (tcpConnector != null)
        {
            receivedString = tcpConnector.ReceivedDataString;
        }

        Refresh();
    }
}