@page "/counter"
@using MauiBlazorApp.Services;

<h1>Connection Counter</h1>

<p role="status">Current Connection: @currentCount</p>

@* <button class="btn btn-primary" @onclick="IncrementCount">Click me</button> *@

<textarea style="margin-top: 10px; border: 1px solid gray; width: 90%;" rows="10">@logString</textarea>

@code {
    private int currentCount = 0;

    private string logString;

    private MainPage mainPage;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        string aaa = App.GetConfigSectionValue("KeyOne");

        this.mainPage = (MainPage)App.Current.MainPage;
        this.mainPage.ConnectionChanged += MainPage_ConnectionChanged;
        NotificationService.ServerListenerModule.DataReceived += ServerListenerModule_DataReceived;

        currentCount = mainPage.CurrentConnection;
    }

    private void MainPage_ConnectionChanged(object sender, EventArgs e)
    {
        currentCount = mainPage.CurrentConnection;

        InvokeAsync(StateHasChanged);
    }

    private void ServerListenerModule_DataReceived(object sender, EventArgs e)
    {
        logString += sender.ToString() + "\r\n";

        InvokeAsync(StateHasChanged);
    }
}
